<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	 
 	 
<header id="title">The Beer Guys</header>
<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    </div>
    </nav>

<div class="container">
<div class="jumbotron text-center">
    <h1>Welcome</h1>
    <p>Sign in or register to get started</p>
  	<ul class="nav nav-tabs">
   	    <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
    	<li><a data-toggle="tab" href="#register">Register</a></li>
  	</ul>

<!--  Login Tab -->

 	 <div class="tab-content">
   	  <div id="login" class="tab-pane fade in active">
      <h3 style="text-align:left">Login to Your Account</h3>
      <div ng-controller="loginCtrl">
      <form class="form-horizontal" id="login" ng-submit="login(username, password)">
         <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="username" ng-model="username" placeholder="Enter username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="pwd" ng-model="password" placeholder="Enter password">
      </div>
    </div>

        <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-success btn-lg" ng-click="">Login</button>
      </div>
    </div>
    </form>
    </div>
    </div>
    
    
 <!--  Register Tab -->
 
    <div id="register" class="tab-pane fade">
          <h3 style="text-align:left">Register as a New Customer</h3>
      <form class="form-horizontal">
         <div class="form-group">
      <label class="control-label col-sm-2" for="firstName">*First Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="firstName" ng-model="firstName" placeholder="Enter first name">
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="lastName">*Last Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="lastName" ng-model="lastName" placeholder="Enter last name">
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="DOB">*Date of Birth:</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="DOB" ng-model="DOB" placeholder="Enter date of birth">
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="address">*Address:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="address" ng-model="address" placeholder="Enter address">
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="userName">*Username:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="userName" ng-model="newUsername" placeholder="Enter username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="pwd" ng-model="newPassword" placeholder="Enter password">
      </div>
    </div>
        <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
      </div>
    </div>
    </form>
    </div>
  </div>
</div>
</div>
