
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/html/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 



	<script src="/vendors/chartsD/dist/Chart.min.js"></script>
	
	<script src="/vendors/chartsD/Angdist/angular-chart.js"></script>
	


<!-- Quick links -->

<div class="container col-md-2" id="quickLinks">
  <h3 style="color:white">Quick Links</h3>
  <ul class="nav nav-pills nav-stacked" id="links">
  	<li><a ui-sref="adminHome">Home</a></li>
    <li><a ui-sref="adminOrder">Unfulfilled Orders</a></li>
    <li class="active"><a ui-sref="adminInventorySales">Sales/Inventory Statistics</a></li>
    <ul style="list-style:none">
    <li><a ng-click='AIS.showSales()'>Sales Statistics</a></li>
    <li><a ng-click='AIS.showInventory()'>Low Inventory</a></li>
    <li><a ng-click='AIS.showSearch()'>Product Sales Search</a></li>
    </ul>
    
  </ul>
</div>


<div class="fullTableContainer" style="width:75%; display:inline-block; float:left; top:22%">
  <h2 style="color:white">Sales Statistics</h2><br>
  <table class="table table-striped table-bordered" id="sales1">
  	<span class="typeDiv">
    <thead>
      <tr>
      	<td style="width: 30px;"></td>
      	<th style="width: 250px">Type</th>
        <th style="width: 200px">Yesterday's (Sales/Count)</th>
        <th style="width: 200px">Last 7 Day's (Sales/Count)</th>
        <th style="width: 200px">Last 30 Day's (Sales/Count)</th>
        <th style="width: 200px">Last Year's (Sales/Count)</th>
        
      </tr>
    </thead>
    <tbody>
    
      <tr ng-repeat-start="sales in AIS.sales">
      	<td>
              <button id="maxBut" ng-if="sales.expanded" ng-click="sales.expanded = false">-</button>
              <button id="maxBut" ng-if="!sales.expanded" ng-click="sales.expanded = true">+</button>
    	</td>
    	<td><Strong>{{sales.type}}</Strong></td>
    	<td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{sales.yesterdayTotalValue | currency}} &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.yesterdayNumberSold}}</td>
        <td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{ sales.lastWeekTotalValue | currency}}  &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.lastWeekNumberSold}}</td>
        <td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{ sales.lastMonthTotalValue | currency}} &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.lastMonthNumberSold}}</td>
        <td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px">{{ sales.lastYearTotalValue | currency}}  &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.lastYearNumberSold}}</td>
      </tr>
      </span>
      <tr ng-if="sales.expanded" ng-repeat-end="">
      	<td colspan="6">
      	<div class="typeDetail">
      		<br>
      		<br>
      		<span>Number Of Core Products:  {{sales.cpCount}}</span>
      		<br>
      		<br>
      		
      	</div>
            
            <table class="table table-striped table-bordered" id="sales2">
                <thead>
      			<tr>
      				<td style="width: 25px;"></td>
      				<th style="width: 250px">Core Products</th>
        			<th style="width: 200px">Yesterday's (Sales/Count)</th>
        			<th style="width: 200px">Last 7 Days (Sales/Count)</th>
        			<th style="width: 200px">Last 30 Days (Sales/Count)</th>
        			<th style="width: 200px">Last Year (Sales/Count)</th>
     			 </tr>
    			</thead>
    			<tbody>
    			
               	 <tr ng-repeat-start="coreProductSales in sales.coreProductSales" height=30px>
               	 <td>
              		<button id="maxBut" ng-if="coreProductSales.expanded" ng-click="coreProductSales.expanded = false">-</button>
              		<button id="maxBut" ng-if="!coreProductSales.expanded" ng-click="coreProductSales.expanded = true;AIS.hideCPD()">+</button>
    			</td>
    			 <td>{{coreProductSales.coreProduct.name}}</td>
             	 <td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.yesterdayTotalValue | currency}} &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.yesterdayNumberSold}}</span></td>
             	 <td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.lastWeekTotalValue | currency}}  &emsp;&emsp;&emsp;&emsp;&emsp;   <img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.lastWeekNumberSold}}</td>
             	 <td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.lastMonthTotalValue | currency}} &emsp;&emsp;&emsp;&emsp;&emsp;   <img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.lastMonthNumberSold}}</td>
             	 <td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.lastYearTotalValue| currency}} &emsp;&emsp;&emsp;&emsp;&emsp;    <img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.lastYearNumberSold}}</td>
            	</tr>
            		<tr ng-if="coreProductSales.expanded" ng-repeat-end="">
      				<td colspan="6">
      				<div class="coreProductDetail" style="display:inline-block">
      					<img src = "/pictures/products/{{coreProductSales.coreProduct.thumbnail}}/images/thumb.png.png" height="200 px" width = "90px">
      					<span>{{coreProductSales.coreProduct.type}}  {{coreProductSales.coreProduct.subType}}</span>
      					<span>Number Of Products: {{coreProductSales.pCount}}</span>
      				</div>
            
            		<table style="width:100%" class="table table-striped table-bordered" id="sales3">
                	<thead>
      				<tr>
      					<td style="width: 20px;"></td> 
      					<th style="width: 250px">Product</th>
        				<th style="width: 200px">Yesterday (Sales/Count)</th>
        				<th style="width: 200px">Last 7 Days (Sales/Count)</th>
        				<th style="width: 200px">Last 30 Days (Sales/Count)</th>
        				<th style="width: 200px">Last Year (Sales/Count)</th>
     				 </tr>
    				</thead>
    				<tbody>
    			
               	 	<tr ng-repeat-start="product in coreProductSales.productSales" height=30px>
               	 		<td>
              				<button ng-if="product.expanded" ng-click="product.expanded = false">-</button>
              				<button ng-if="!product.expanded" ng-click="product.expanded = true;AIS.hidePD()">+</button>
    					</td>
    					<td>{{product.product.baseUnit}}, {{product.product.quantity}} pack</td>
             	 		<td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.yesterdayTotalValue | currency}}   &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{product.yesterdayNumberSold}}</td>
             		 	<td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.lastWeekTotalValue | currency}}  &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{product.lastWeekNumberSold}}</td>
             	 		<td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.lastMonthTotalValue | currency}}  &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{product.lastMonthNumberSold}}</td>
             	 		<td>&emsp;<img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.lastYearTotalValue | currency}}  &emsp;&emsp;&emsp;&emsp;&emsp;  <img src="/pictures/count.png.png" height="15px" width="15px"> {{product.lastYearNumberSold}}</td>
            		</tr>
            		
            		<tr ng-if="product.expanded" ng-repeat-end="">
      					<td colspan="6"><h4 >Details</h4>
            				<div>
            					<span>Price: {{product.product.price}}  Inventory: {{product.product.inventory}}</span>
            				</div>
      					</td>
      				</tr>
            	
    
            		</tbody>          	
          		</table>
      			</td>
      			</tr>
            	
    
            	</tbody>          	
          	</table>
      </td>
      </tr>
      </tbody>
      </table>
	</div>
	
	
	<div class="lowInventoryContainer" style="width:75%; display:inline-block; float:left; top:22%">
	
		<h2 style="color:white">Top 50 Low Inventory</h2><br>
		<button class="submitInventory btn btn-success btn-lg" ng-click="AIS.addInv()" data-toggle="modal" data-target="#myModal">Submit <br> Inventory</button>
  		<table class="table table-striped table-bordered" id="sales2">
    		<thead>
      		<tr>
      			<td style="width: 30px;"></td>
        		<th></th>
        		<th>Name</th>
        		<th>Type/SubType</th>
        <th>Price</th>
        <th>Current Inventory(Including Pending)</th>
        <th>Order More Inventory
        
      </tr>
    </thead>
    <tbody>
    
      <tr ng-repeat-start="product in AIS.lowInv">
      	<td>
              <button id="maxBut" ng-if="product.expanded" ng-click="product.expanded = false">-</button>
              <button id="maxBut" ng-if="!product.expanded" ng-click="product.expanded = true">+</button>
    	</td>
    	<td><img src = "/pictures/products/{{product.product.coreProduct.thumbnail}}/images/thumb.png.png" height="100 px" width = "45px"></td>
        <td><Strong>{{ product.product.coreProduct.name }}</Strong> <br> {{ product.product.baseUnit }}, {{ product.product.quantity }} Pack</td>
        <td>{{ product.product.coreProduct.type }}  {{ product.product.coreProduct.subType }}</td>
        <td>{{ product.product.price }}</td>
       	<td>{{ product.product.inventory }}</td>
       	<td>#<input id="{{product.product.id}}" type="number" style="width:75px"></td>
      </tr>
      <tr ng-if="product.expanded" ng-repeat-end="">
      	<td colspan="6"><h4 >Product Sales Details</h4>
        	<div style="display:inline-block">
        		<span>Yesterday <br> Sales: {{product.yesterdayTotalValue}} <br> Total Sold: {{product.yesterdayNumberSold}} </span>
        		<span>Last 7 Day's <br> Sales: {{product.lastWeekTotalValue}} <br> Total Sold: {{product.lastWeekNumberSold}} </span>
        		<span>Last 30 Day's <br> Sales: {{product.lastMonthTotalValue}} <br> Total Sold: {{product.lastMontNumberSold}} </span>
        		<span>Last Year <br> Sales: {{product.lastYearTotalValue}} <br> Total Sold: {{product.lastYearNumberSold}} </span>
        	</div>
            
      </td>
      </tr>
      </tbody>
      </table>
      
      <div class ="text-center">
      	
      	<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    		<div class="modal-dialog">
    
      		<!-- Modal content-->
      			<div class="modal-content">
        			<div class="modal-header">
          				<button type="button" class="close" ng-click="AIS.reload()"></button>
          				<h2 class="modal-title">Order Responses</h2>
        			</div>
        		<div class="modal-body">
        
        	<div class="receiptContainer" style="margin-left:2%">
  			<h4 style="text-align:center"><span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span> You Have Successfully Ordered More Inventory</h4><br>
  			<table class="table table-striped" >
  
    			<tbody>
     			 <tr ng-repeat="addInvP in AIS.addInventoryPop" style="text-align:left">
        		<td>Product: {{addInvP.name}} {{addInvP.baseUnit}}, {{addInvP.qty}} Amount Ordered: {{addInvP.value}}</td>
     
        		
        		
        
      			</tr>
      			<tr style="border-top: solid;text-align: left">

      			</tr>

			
			</table>
			</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="AIS.reload()">Close</button>
      
		</div>
		   </div>
		  </div>
		</div>
	  </div>
		</div>
	
	<div class="searchProductContainer" style="width:75%; display:inline-block; float:left; top:22%">
		
		<h2 style="color:white"> Search For Product Sales</h2>
		<br>
		<form class="navbar-form"role="search" id="searchBar">
			<div class="input-group add-on col-md-3">
				<input class="form-control " placeholder="Search by keyword..."	name="srch-term" id="srch-term" type="text" ng-model="AIS.keyword">
				<div class="input-group-btn">
					<button class="btn btn-default" type="button" id="search" ng-click = "AIS.search()">
					<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
			</div>


 			<label style="color:white" class="checkbox-inline" ng-repeat="type in AIS.types">
  			<input type="checkbox" name="selectedTypes[]" value="{{ type }}" 
  			ng-checked="AIS.selection.indexOf(type)>-1"  ng-click="AIS.toggleSelection(type)"  /> {{ type }}
			</label> 
 
 

		</form><br>
		
		
  		<table class="table table-striped table-bordered" id="sales2">
    		<thead>
      		<tr>
      			<td style="width: 30px;"></td>
      			<th></th>
      			<th>Name</th>
        		<th>Yesterday's</th>
        		<th>Last 7 Day's</th>
        		<th>Last 30 Day's</th>
        		<th>Last Year's</th>
        
      		</tr>
    		</thead>
    		<tbody>
    
      		<tr ng-repeat-start="product in AIS.searchResults">
      			<td>
              		<button id="maxBut" ng-if="product.expanded" ng-click="product.expanded = false">-</button>
              		<button id="maxBut" ng-if="!product.expanded" ng-click="product.expanded = true">+</button>
    			</td>
    			<td><img src = "/pictures/products/{{product.product.coreProduct.thumbnail}}/images/thumb.png.png" height="100 px" width = "45px"></td>
        		<td><Strong>{{ product.product.coreProduct.name }}</Strong> <br> {{ product.product.baseUnit }}, {{ product.product.quantity }} Pack</td>
        		<td>{{ product.dailySalesData[0].totalValue | currency}}</td>
        		<td>{{ product.weeklySalesData[0].totalValue | currency}}</td>
        		<td>{{ product.monthlySalesData[0].totalValue | currency}}</td>
        		<td>{{ product.yearSales | currency}}</td>
      		</tr>
      		<tr ng-if="product.expanded" ng-repeat-end="">
      			<td colspan="6">
      				<div class="coreProductDetail">
      					<h4 >Product Details</h4>
      					<span>Price: {{product.product.price}}  Inventory: {{product.product.inventory}}</span>
      				</div>
            
            	
            	</td>
            	</tr>
            	</tbody>
            	</table>
            	
	</div>
	
	<div>
<!-- 	<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"  -->
<!-- 	chart-dataset-override="datasetOverride" chart-click="onClick"></canvas> -->
	
	hello
	{{product.product.coreProduct.name}}
	</div>
	

