
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/html/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 



<!-- 	<script src="/vendors/chartsD/dist/Chart.min.js"></script>
	
	<script src="/vendors/chartsD/Angdist/angular-chart.js"></script> -->
	


<!-- Quick links -->

<div class="container col-md-2" id="quickLinks">
  <h3 style="font-size:2em" class="headerWhite">Quick Links</h3>
  <ul class="nav nav-pills nav-stacked" id="links">
  	<li style="font-size:1.5em"><a ui-sref="adminHome">Home</a></li>
    <li style="font-size:1.5em"><a ui-sref="adminOrder">Unfulfilled Orders</a></li>
    <li style="font-size:1.5em" class="active"><a ui-sref="adminInventorySales">Sales/Inventory Statistics</a></li>
    <br>
    <ul style="list-style:none">
    <li style="font-size:1em;text-align:center" id="SSTab" class="activeSubList subList"><a ng-click='AIS.showSales()'>Sales Statistics</a></li>
    <li><br></li>
    <li style="font-size:1em;text-align:center" id="LITab" class="subList"><a ng-click='AIS.showInventory()'>Low Inventory</a></li>
    <li><br></li>
    <li style="font-size:1em;text-align:center"id="PSTab" class="subList"><a ng-click='AIS.showSearch()'>Product Sales Search</a></li>
    </ul>
    
  </ul>
</div>


<div class="fullTableContainer" style="width:75%; display:inline-block; float:left; top:22%">
  <h2 class="headerWhite">Sales Statistics</h2><br>
  <table class="table table-striped table-bordered" id="sales1">
  	<span class="typeDiv">
    <thead>
      <tr>
      	<td style="width: 30px;"></td>
      	<th style="width: 250px"><a href="" ng-click="AIS.sortType = 'type'; AIS.sortReverse = !AIS.sortReverse">Type</a></th>
        <th style="width: 200px">Yesterday's 
        (<a href="" ng-click="AIS.sortType = 'yesterdayTotalValue'; AIS.sortReverse = !AIS.sortReverse">Sales</a>
        /<a href="" ng-click="AIS.sortType = 'yesterdayNumberSold'; AIS.sortReverse = !AIS.sortReverse">Count</a>)
        </th>
        <th style="width: 200px">Last 7 Day's
        (<a href="" ng-click="AIS.sortType = 'lastWeekTotalValue'; AIS.sortReverse = !AIS.sortReverse">Sales</a>
        /<a href="" ng-click="AIS.sortType = 'lastWeekNumberSold'; AIS.sortReverse = !AIS.sortReverse">Count</a>)
        </th>
        <th style="width: 200px">Last 30 Day's 
        (<a href="" ng-click="AIS.sortType = 'lastMonthTotalValue'; AIS.sortReverse = !AIS.sortReverse">Sales</a>
        /<a href="" ng-click="AIS.sortType = 'lastMonthNumberSold'; AIS.sortReverse = !AIS.sortReverse">Count</a>)
        </th>
        <th style="width: 200px">Last Year's
        (<a href="" ng-click="AIS.sortType = 'lastYearTotalValue'; AIS.sortReverse = !AIS.sortReverse">Sales</a>
        /<a href="" ng-click="AIS.sortType = 'lastYearNumberSold'; AIS.sortReverse = !AIS.sortReverse">Count</a>)
        </th>
        
        
      </tr>
    </thead>
    <tbody>
    
      <tr ng-repeat-start="sales in AIS.sales | orderBy:AIS.sortType:AIS.sortReverse">
      	<td>
              <button id="maxBut" ng-if="sales.expanded" ng-click="sales.expanded = false">-</button>
              <button id="maxBut" ng-if="!sales.expanded" ng-click="sales.expanded = true">+</button>
    	</td>
    	<td><Strong>{{sales.type}}</Strong></td>
    	<td>
    	<div style="width:160px">
    		<span style="width:80px; text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{sales.yesterdayTotalValue | currency}}</span>
    		<span style="width:80px; text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.yesterdayNumberSold}}</span>
    	</div>
    	</td>
        <td>
        	<span style="width: 80px; text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{ sales.lastWeekTotalValue | currency}}</span>
        	<span style="width: 80px; text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.lastWeekNumberSold}}</span>
        </td>
        <td>
        	<span style="width: 80px; text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{ sales.lastMonthTotalValue | currency}}</span>
        	<span style="width: 80px; text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.lastMonthNumberSold}}</span>
        </td>
        <td>
        	<span style="width: 80px; text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{ sales.lastYearTotalValue | currency}}</span>
        	<span style="width: 80px; text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{sales.lastYearNumberSold}}</span>
        </td>
      </tr>
      </span>
      <tr ng-if="sales.expanded" ng-repeat-end="">
      	<td colspan="6">
      	<div class="typeDetail">
      		<br>
      		<br>
      		<span><Strong>Number Of Core Products:  {{sales.coreProductSales.length}}</Strong></span>
      		<br>
      		<br>
      		
      	</div>
            
            <table class="table table-striped table-bordered" id="sales2">
                <thead>
      			<tr>
      				<td style="width: 25px;"></td>
      				<th style="width: 250px"><a href="" ng-click="AIS.sortCP = 'coreProduct.name'; AIS.sortReverseCP = !AIS.sortReverseCP">Core Products</a></th>
        			<th style="width: 200px">Yesterday's
        			(<a href="" ng-click="AIS.sortCP = 'yesterdayTotalValue'; AIS.sortReverseCP = !AIS.sortReverseCP">Sales</a>
        			/<a href="" ng-click="AIS.sortCP = 'yesterdayNumberSold'; AIS.sortReverseCP = !AIS.sortReverseCP">Count</a>)
        			</th>
        			<th style="width: 200px">Last 7 Days
        			(<a href="" ng-click="AIS.sortCP = 'lastWeekTotalValue'; AIS.sortReverseCP = !AIS.sortReverseCP">Sales</a>
        			/<a href="" ng-click="AIS.sortCP = 'lastWeekNumberSold'; AIS.sortReverseCP = !AIS.sortReverseCP">Count</a>)
        			</th>
        			<th style="width: 200px">Last 30 Days
        			(<a href="" ng-click="AIS.sortCP = 'lastMonthTotalValue'; AIS.sortReverseCP = !AIS.sortReverseCP">Sales</a>
        			/<a href="" ng-click="AIS.sortCP = 'lastMonthNumberSold'; AIS.sortReverseCP = !AIS.sortReverseCP">Count</a>)
        			</th>
        			<th style="width: 200px">Last Year
        			(<a href="" ng-click="AIS.sortCP = 'lastYearTotalValue'; AIS.sortReverseCP = !AIS.sortReverseCP">Sales</a>
        			/<a href="" ng-click="AIS.sortCP = 'lastYearNumberSold'; AIS.sortReverseCP = !AIS.sortReverseCP">Count</a>)
        			</th>
     			 </tr>
    			</thead>
    			<tbody>
    			
               	 <tr height=30px  ng-repeat-start="coreProductSales in sales.coreProductSales | orderBy:AIS.sortCP:AIS.sortReverseCP">
               	 <td>
              		<button id="maxBut" ng-if="coreProductSales.expanded" ng-click="coreProductSales.expanded = false">-</button>
              		<button id="maxBut" ng-if="!coreProductSales.expanded" ng-click="coreProductSales.expanded = true;AIS.hideCPD()">+</button>
    			</td>
    			 <td>{{coreProductSales.coreProduct.name}}</td>
             	 <td>
             	 	<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.yesterdayTotalValue | currency}}</span>
             	 	<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.yesterdayNumberSold}}</span>
             	 </td>
             	 <td>
             	 	<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.lastWeekTotalValue | currency}}</span>
             	 	<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.lastWeekNumberSold}}</span>
             	 </td>
             	 <td>
            	 	<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.lastMonthTotalValue | currency}}</span>
            	 	<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.lastMonthNumberSold}}</span>
            	 </td>
             	 <td>
             	 	<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{coreProductSales.lastYearTotalValue| currency}}</span>
             	 	<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px">  {{coreProductSales.lastYearNumberSold}}</span>
             	 </td>
            	</tr>
            		<tr ng-if="coreProductSales.expanded" ng-repeat-end="">
      				<td colspan="6">
      				<div class="coreProductDetail" style="display:inline-block">
      					<img src = "/pictures/products/{{coreProductSales.coreProduct.thumbnail}}/images/thumb.png.png" height="200 px" width = "90px">
      					<span>
      						<span><Strong>Type:</Strong> {{coreProductSales.coreProduct.type}} &emsp;<Strong>Sub Type:</Strong> {{coreProductSales.coreProduct.subType}}</span>
      						&emsp;
      						&emsp;
      						&emsp;
      						<span><Strong>Number Of Products:</Strong> {{coreProductSales.productSales.length}}</span>
      					</span>
      				</div>
            
            		<table style="width:100%" class="table table-striped table-bordered" id="sales3">
                	<thead>
      				<tr>
      					<td style="width: 20px;"></td> 
      					<th style="width: 250px">Product 
      					&emsp;
      					<small>
      					Soft By:
      						<a href="" ng-click="AIS.sortP = 'product.baseUnit'; AIS.sortReverseP = !AIS.sortReverseP">Base Unit</a>
      						<a href="" ng-click="AIS.sortP = 'product.quantity'; AIS.sortReverseP = !AIS.sortReverseP">Quantity</a>
      					</small>
      					</th>
        				<th style="width: 200px">Yesterday
        				(<a href="" ng-click="AIS.sortP = 'yesterdayTotalValue'; AIS.sortReverseP = !AIS.sortReverseP">Sales</a>
        				/<a href="" ng-click="AIS.sortP = 'yesterdayNumberSold'; AIS.sortReverseP = !AIS.sortReverseP">Count</a>)
        				</th>
        				<th style="width: 200px">Last 7 Days
        				(<a href="" ng-click="AIS.sortP = 'lastWeekTotalValue'; AIS.sortReverseP = !AIS.sortReverseP">Sales</a>
        				/<a href="" ng-click="AIS.sortP = 'lastWeekNumberSold'; AIS.sortReverseP = !AIS.sortReverseP">Count</a>)
        				</th>
        				<th style="width: 200px">Last 30 Days
						(<a href="" ng-click="AIS.sortP = 'lastMonthTotalValue'; AIS.sortReverseP = !AIS.sortReverseP">Sales</a>
        				/<a href="" ng-click="AIS.sortP = 'lastMonthNumberSold'; AIS.sortReverseP = !AIS.sortReverseP">Count</a>)
						</th>
        				<th style="width: 200px">Last Year
        				(<a href="" ng-click="AIS.sortP = 'lastYearTotalValue'; AIS.sortReverseP = !AIS.sortReverseP">Sales</a>
        				/<a href="" ng-click="AIS.sortP = 'lastYearNumberSold'; AIS.sortReverseP = !AIS.sortReverseP">Count</a>)
        				</th>
     				 </tr>
    				</thead>
    				<tbody>
    			
               	 	<tr height=30px ng-repeat-start="product in coreProductSales.productSales | orderBy:AIS.sortP:AIS.sortReverseP" >
               	 		<td>
              				<button ng-if="product.expanded" ng-click="product.expanded = false">-</button>
              				<button ng-if="!product.expanded" ng-click="product.expanded = true;AIS.hidePD()">+</button>
    					</td>
    					<td>{{product.product.baseUnit}}, {{product.product.quantity}} pack</td>
             	 		<td>
             	 			<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.yesterdayTotalValue | currency}}</span>
             	 			<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{product.yesterdayNumberSold}}</span>
             	 		</td>
             		 	<td>
             		 		<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.lastWeekTotalValue | currency}}</span>
             		 		<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{product.lastWeekNumberSold}}</span>
             		 	</td>
             	 		<td>
             	 			<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.lastMonthTotalValue | currency}}</span>
             	 			<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{product.lastMonthNumberSold}}</span>
             	 		</td>
             	 		<td>
             	 			<span style="width:80px;text-align: left; display: table-cell"><img src="/pictures/green_dollar.png.png" height="15px" width="15px"> {{product.lastYearTotalValue | currency}}</span>
             	 			<span style="width:80px;text-align: right; display: table-cell"><img src="/pictures/count.png.png" height="15px" width="15px"> {{product.lastYearNumberSold}}</span>
             	 		</td>
            		</tr>
            		
            		<tr ng-if="product.expanded" ng-repeat-end="">
      					<td colspan="6">
            				<div style="height:80px" class="productDetail">
      							<h4 >Product Details</h4>
      							<br>
      							<span>
      								<span style="width:50px"><strong>Product Id:</strong> {{product.product.id}} </span>
      								&emsp;&emsp;
      								<span style="width:50px"><strong>Price:</strong> {{product.product.price | currency}} </span>
      								&emsp;&emsp;
      								<span><strong>Inventory:</strong> {{product.product.inventory}}</span>
      							</span>
      					
      						</div>
      					</td>
      				</tr>
            	
    
            		</tbody>          	
          		</table>
      			</td>
      			</tr>
            	
    
            	</tbody>          	
          	</table>
      </td>
      </tr>
      </tbody>
      </table>
	</div>
	
	
	<div class="lowInventoryContainer" style="width:75%; display:inline-block; float:left; top:22%">
	
		<h2 class="headerWhite">Top 50 Low Inventory</h2><br>
		<button class="submitInventory btn btn-success btn-lg" ng-click="AIS.addInv()" data-toggle="modal" data-target="#myModal">Submit <br> Inventory</button>
  		<table class="table table-striped table-bordered" id="sales2">
    		<thead>
      		<tr>
      			<td style="width: 30px;"></td>
        		<th></th>
        		<th>
        		<a href="" ng-click="AIS.sortIP = 'product.coreProduct.name'; AIS.sortReverseIP = !AIS.sortReverseIP">Name </a>
        		&emsp;
        		&emsp;
        		<small>
        		Sort By:
        		<a href="" ng-click="AIS.sortIP = 'product.baseUnit'; AIS.sortReverseIP = !AIS.sortReverseIP">Base Unit</a>
        		<a href="" ng-click="AIS.sortIP = 'product.quantity'; AIS.sortReverseIP = !AIS.sortReverseIP">Quantity</a>
        		</small>
        		</th>
        		<th>
        		Type/SubType
        		&emsp;&emsp;
        		<small>
        		Sort By:
        		<a href="" ng-click="AIS.sortIP = 'product.coreProduct.type'; AIS.sortReverseIP = !AIS.sortReverseIP">Type</a>
        		<a href="" ng-click="AIS.sortIP = 'product.coreProduct.subType'; AIS.sortReverseIP = !AIS.sortReverseIP">Sub Type</a>
        		</small>
        		</th>
        <th><a href="" ng-click="AIS.sortIP = 'product.price'; AIS.sortReverseIP = !AIS.sortReverseIP">Price</a></th>
        <th><a href="" ng-click="AIS.sortIP = 'product.iventory'; AIS.sortReverseIP = !AIS.sortReverseIP">Current Inventory(Including Pending)</a></th>
        <th>Order More Inventory</th>
        
      </tr>
    </thead>
    <tbody>
    
      <tr ng-repeat-start="product in AIS.lowInv | orderBy:AIS.sortIP:AIS.sortReverseIP">
      	<td>
              <button id="maxBut" ng-if="product.expanded" ng-click="product.expanded = false">-</button>
              <button id="maxBut" ng-if="!product.expanded" ng-click="product.expanded = true">+</button>
    	</td>
    	<td><img src = "/pictures/products/{{product.product.coreProduct.thumbnail}}/images/thumb.png.png" height="100 px" width = "45px"></td>
        <td><Strong>{{ product.product.coreProduct.name }}</Strong> <br> {{ product.product.baseUnit }}, {{ product.product.quantity }} Pack</td>
        <td>{{ product.product.coreProduct.type }}  {{ product.product.coreProduct.subType }}</td>
        <td>{{ product.product.price }}</td>
       	<td>{{ product.product.inventory }}</td>
       	<td>#<input id="{{product.product.id}}" type="number" style="width:75px"></td>
      </tr>
      <tr ng-if="product.expanded" ng-repeat-end="">
      	<td colspan="7" ><h4 >Product Sales Details</h4>
      		<br>
        	<table style="float:">
        	<thead>
        	<tr>
        		<th>Yesterday</th>
        		<th>&emsp;&emsp;&emsp;</th>
        		<th>Last 7 Day's</th>
        		<th>&emsp;&emsp;&emsp;</th>
        		<th>Last 30 Day's</th>
        		<th>&emsp;&emsp;&emsp;</th>
        		<th>Last Year</th>
        	</tr>
        	</thead>
        	<tbody>
        	<tr>
        		<td>Sales: {{product.yesterdayTotalValue}}</td>
        		<td></td>
        		<td>Sales: {{product.lastWeekTotalValue}}</td>
        		<td></td>
        		<td>Sales: {{product.lastMonthTotalValue}}</td>
        		<td></td>
        		<td>Sales: {{product.lastYearTotalValue}}</td>
        	<tr>
        	<tr>
        		<td>Count Sold: {{product.yesterdayNumberSold}}</td>
        		<td></td>
        		<td>Count Sold: {{product.lastWeekNumberSold}}</td>
        		<td></td>
        		<td>Count Sold: {{product.lastMontNumberSold}}</td>
        		<td></td>
        		<td>Count Sold: {{product.lastYearNumberSold}}</td>
        	</tr>
        	</tbody>
        	</table>
        	
        	<br>
            
      </td>
      </tr>
      </tbody>
      </table>
      
      <div class ="text-center">
      	
      	<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    		<div class="modal-dialog">
    
      		<!-- Modal content-->
      			<div class="modal-content">
        			<div class="modal-header">
          				<button type="button" class="close" ng-click="AIS.reload()"></button>
          				<h2 class="modal-title">Order Responses</h2>
        			</div>
        		<div class="modal-body">
        
        	<div class="receiptContainer" style="margin-left:2%">
  			<h4 style="text-align:center"><span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span> You Have Successfully Ordered More Inventory</h4><br>
  			<table class="table table-striped" >
  
    			<tbody>
     			 <tr ng-repeat="addInvP in AIS.addInventoryPop" style="text-align:left">
        		<td>Product: {{addInvP.name}} {{addInvP.baseUnit}}, {{addInvP.qty}} Amount Ordered: {{addInvP.value}}</td>
     
        		
        		
        
      			</tr>
      			<tr style="border-top: solid;text-align: left">

      			</tr>

			
			</table>
			</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="AIS.reload()">Close</button>
      
		</div>
		   </div>
		  </div>
		</div>
	  </div>
		</div>
	
	<div class="searchProductContainer" style="width:75%; display:inline-block; float:left; top:22%">
		
		<h2 class="headerWhite"> Search For Product Sales</h2>
		<br>
		<form class="navbar-form"role="search" id="searchBar">
			<div class="input-group add-on col-md-3">
				<input class="form-control " placeholder="Search by keyword..."	name="srch-term" id="srch-term" type="text" ng-model="AIS.keyword">
				<div class="input-group-btn">
					<button class="btn btn-default" type="button" id="search" ng-click = "AIS.search()">
					<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
			</div>


 			<label style="color:white" class="checkbox-inline" ng-repeat="type in AIS.types">
  			<input type="checkbox" name="selectedTypes[]" value="{{ type }}" 
  			ng-checked="AIS.selection.indexOf(type)>-1"  ng-click="AIS.toggleSelection(type)"  /> {{ type }}
			</label> 
 
 

		</form><br>
		
		
  		<table class="table table-striped table-bordered" id="sales2">
    		<thead>
      		<tr>
      			<td style="width: 30px;"></td>
      			<th></th>
      			<th>
      			<a href="" ng-click="AIS.sortSP = 'product.coreProduct.name'; AIS.sortReverseSP = !AIS.sortReverseSP">Name</a>
      			&emsp;&emsp;
      			<small>
      			Sort By:
      			<a href="" ng-click="AIS.sortSP = 'product.baseUnit'; AIS.sortReverseSP = !AIS.sortReverseSP">Base Unit</a>
      			<a href="" ng-click="AIS.sortSP = 'product.quantity'; AIS.sortReverseSP = !AIS.sortReverseSP">Quantity</a>
      			</small>
      			</th>
        		<th><a href="" ng-click="AIS.sortSP = 'yesterdayTotalValue'; AIS.sortReverseSP = !AIS.sortReverseSP">Yesterday's</a></th>
        		<th><a href="" ng-click="AIS.sortSP = 'lastWeekTotalValue'; AIS.sortReverseSP = !AIS.sortReverseSP">Last 7 Day's</a></th>
        		<th><a href="" ng-click="AIS.sortSP = 'lastMonthTotalValue'; AIS.sortReverseSP = !AIS.sortReverseSP">Last 30 Day's</a></th>
        		<th><a href="" ng-click="AIS.sortSP = 'lastYearTotalValue'; AIS.sortReverseSP = !AIS.sortReverseSP">Last Year's</a></th>
        
      		</tr>
    		</thead>
    		<tbody>
    
      		<tr ng-repeat-start="product in AIS.searchResults | orderBy:AIS.sortSP:AIS.sortReverseSP">
      			<td>
              		<button id="maxBut" ng-if="product.expanded" ng-click="product.expanded = false">-</button>
              		<button id="maxBut" ng-if="!product.expanded" ng-click="product.expanded = true">+</button>
    			</td>
    			<td><img src = "/pictures/products/{{product.product.coreProduct.thumbnail}}/images/thumb.png.png" height="100 px" width = "45px"></td>
        		<td><Strong>{{ product.product.coreProduct.name }}</Strong> <br> {{ product.product.baseUnit }}, {{ product.product.quantity }} Pack</td>
        		<td>Total Value Sold: {{ product.yesterdayTotalValue | currency}} <br><br><br> Total Count Sold: {{product.yesterdayNumberSold}}</td>
        		<td>Total Value Sold: {{ product.lastWeekTotalValue | currency}} <br><br><br> Total Count Sold: {{product.lastWeekNumberSold}}</td>
        		<td>Total Value Sold: {{ product.lastMonthTotalValue | currency}} <br><br><br> Total Count Sold: {{product.lastMonthNumberSold}}</td>
        		<td>Total Value Sold: {{ product.lastYearTotalValue | currency}} <br><br><br> Total Count Sold: {{product.lastYearNumberSold}}</td>
      		</tr>
      		<tr ng-if="product.expanded" ng-repeat-end="">
      			<td colspan="7">
      				<div style="height:80px" class="coreProductDetail">
      					<h4 >Product Details</h4>
      					<br>
      					<span>
      					<span style="width:50px"><strong>Product Id:</strong> {{product.product.id}} </span>
      					&emsp;&emsp;
      					<span style="width:50px"><strong>Price:</strong> {{product.product.price | currency}} </span>
      					&emsp;&emsp;
      					<span><strong>Inventory:</strong> {{product.product.inventory}}</span>
      					</span>
      					
      				</div>
            
            	
            	</td>
            	</tr>
            	</tbody>
            	</table>
            	
	</div>
	
	<div>
<!-- 	<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"  -->
<!-- 	chart-dataset-override="datasetOverride" chart-click="onClick"></canvas> -->
	
	</div>
	

