<h1 style="text-align:center">Welcome, {{ HC.username }}</h1>

<!-- Quick links -->

<div class="container col-md-2" id="quickLinks">
  <h3>Quick Links</h3>
  <ul class="nav nav-pills nav-stacked" id="links">
    <li><a href="#products">Add Order</a></li>
    <li><a href="#">Unfulfilled Orders</a></li>
    <li><a href="#orders">My Orders</a></li>
    <li><a href="#account">My Account</a></li>
  </ul>
</div>



<div id="topBeers" ng-repeat="beers in HC.beers">
  
</div>







<div id="topWines" ng-repeat="wines in HC.wines">

</div>







<div id="topSpirits" ng-repeat="spirits in HC.spirits">

</div>


