<link rel="stylesheet" type="text/css" href="/html/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  
 <h2 id ="productTitle">Browse Our Products</h2> 

<!-- Quick links -->

<div class="container col-md-2" id="quickLinks">
  <h3>Quick Links</h3>
  <ul class="nav nav-pills nav-stacked" id="links">
    <li><a href="#">Home</a></li>
    <li class="active"><a href="">Add Order</a></li>
    <li><a href="#orders">My Orders</a></li>
  </ul>
</div>


<!-- Search features -->

<form class="navbar-form"role="search" id="searchBar">
	<div class="input-group add-on col-md-3">
		<input class="form-control " placeholder="Search by keyword..."	name="srch-term" id="srch-term" type="text" ng-model="PC.keyword" autofocus>
		<div class="input-group-btn">
			<button class="btn btn-default" type="button" id="search" ng-click = "PC.search()">
			<i class="glyphicon glyphicon-search"></i>
			</button>
		</div>
	</div>


 <label class="checkbox-inline" ng-repeat="type in PC.types">
  <input type="checkbox" name="selectedTypes[]" value="{{ type }}" 
  ng-checked="PC.selection.indexOf(type)>-1"  ng-click="PC.toggleSelection(type)" /> {{ type }}
</label> 

</form><br>


<!-- Product list -->

<div style="padding-bottom:20px">
  <select ng-model="PC.orderList">
    <option value = "">Select Order By</option>
    <option value="coreProduct.name">Name (A-Z)</option>
    <option value="-coreProduct.name">Name (Z-A)</option>
    <option value="price">Price (lowest to highest)</option>
    <option value="-price">Price (highest to lowest)</option>
  </select><br>
</div>


<div id="products" class="row list-group" ng-repeat="product in PC.searchResults | orderBy: PC.orderList">
	<div class="item" >
	
		<div class="thumbnail" id="add"  ng-class="{'active': PC.active==true}">
			<img class="group list-group-image"	src="/pictures/products/{{product.coreProduct.thumbnail}}/images/thumb.png.png" align="left" alt="" />
			<div class="caption">
				<h3 id="prodName" class="group inner list-group-item-heading" ng-click="PC.addToCart(product)">{{ product.coreProduct.name }}<span class="tooltiptext">Add to cart</span></h3>
				<p class="group inner list-group-item-text">{{ product.coreProduct.type }}</p>
				<p class="group inner list-group-item-text">{{ product.coreProduct.subType }}</p>
				<p class="group inner list-group-item-text">{{ product.baseUnit }}</p>
				<p class="group inner list-group-item-text">{{ product.quantity }}</p>
				<p class="group inner list-group-item-text">{{ product.coreProduct.description }}</p>
				<h4 class="group inner list-group-item-text">{{ product.price | currency}}</h4>
				</div>
				<div class="row"></div>
			</div>
		</div>
	</div>


<!--  Shopping cart -->

<div class="cart" ng-show="PC.cart.length">
<div class="panel panel-primary">
    <div id="shoppingCart" class="panel-heading">
        <h1 class="panel-title" style="text-align: center">Shopping Cart</h1>
    </div>
    
    <div class="panel-body">        
    
   <div class="cartContainer">
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Item</th>
        <th>Unit Price</th>
        <th>Qty</th>
        <th>Line Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in PC.cart">
        <td>{{ product.coreProduct.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td><input type="number" min="1" max="10" ng-model="product.qty" ng-init="product.qty=1" style="text-align:center"></td>
        <td>{{ product.price * product.qty | currency }}</td>
        <td><span class="glyphicon glyphicon-remove" style="cursor:pointer" ng-click="PC.remove(product)"></span></td>
      </tr>
      <tr style="border-top: solid;">
      <td><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td>{{ PC.grandTotal() | currency }}</td>
       <td></td>
      </tr>
    </tbody>
  </table>
     <form action="demo_form.asp" style="text-align: center">
     <label>Choose delivery date: </label>
		<select name="month" id ="month" ng-model="PC.month" placeholder="MM">
  			<option value="">MM</option>
  			 <option value="01">01</option>
  			 <option value="02">02</option>
  			 <option value="03">03</option>
  			 <option value="04">04</option>
  			 <option value="05">05</option>
  			 <option value="06">06</option>
  			 <option value="07">07</option>
  			 <option value="08">08</option>
  			 <option value="09">09</option>
  			 <option value="10">10</option>
  			 <option value="11">11</option>
  			 <option value="12">12</option>
       	</select>
       	<select name="day" id="day" ng-model = "PC.day" >
  			 <option value="">DD</option>
  			 <option value="01">01</option>
  			 <option value="02">02</option>
  			 <option value="03">03</option>
  			 <option value="04">04</option>
  			 <option value="05">05</option>
  			 <option value="06">06</option>
  			 <option value="07">07</option>
  			 <option value="08">08</option>
  			 <option value="09">09</option>
  			 <option value="10">10</option>
  			 <option value="11">11</option>
  			 <option value="12">12</option>
  			 <option value="13">13</option>
  			 <option value="14">14</option>
  			 <option value="15">15</option>
  			 <option value="16">16</option>
  			 <option value="17">17</option>
  			 <option value="18">18</option>
  			 <option value="19">19</option>
  			 <option value="20">20</option>
  			 <option value="21">21</option>
  			 <option value="22">22</option>
  			 <option value="23">23</option>
  			 <option value="24">24</option>
  			 <option value="25">25</option>
  			 <option value="26">26</option>
  			 <option value="27">27</option>
  			 <option value="28">28</option>
  			 <option value="29">29</option>
  			 <option value="30">30</option>
  			 <option value="31">31</option>
     	</select>
       	<select name="year" id="year" ng-model = "PC.year">
  			 <option value="">YYYY</option>
  			 <option value="2016">2016</option>
  			 <option value="2017">2017</option>
       	</select>
</form>
</div>
    </div>
</div>
 
<div class="text-center">
    <button type="button" class="btn btn-danger btn-lg" ng-click="PC.submitOrder()" data-toggle="modal" data-target="#myModal">Checkout 
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click=PC.redirect()>&times;</button>
          <h2 class="modal-title">Order Receipt</h2>
        </div>
        <div class="modal-body">
        
        <div class="receiptContainer" style="margin-left:2%">
  <h4 style="text-align:center"><span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span> Your order has been submitted!</h4><br>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Item No.</th>
        <th>Unit Price</th>
        <th>Qty</th>
        <th>Line Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="detail in PC.cart" style="text-align:left">
        <td>{{ detail.id }}</td>
        <td>{{ detail.price | currency }}</td>
        <td>{{ detail.qty }}</td>
        <td>{{ detail.price * detail.qty | currency }}</td>
      </tr>
      <tr style="border-top: solid;text-align: left">
      <td><strong>Grand Total</strong></td>
      <td></td>
      <td></td>
      <td>{{ PC.orderResponse.success.total | currency }}</td>
      </tr>
    </tbody>
  </table>
      <h5><strong>Order ID:</strong> {{ PC.orderResponse.success.id }}</h5>
      <h5><strong>Order Status:</strong> {{ PC.orderResponse.success.orderStatus }}</h5>
      <h5><strong>Requested Delivery Date:</strong> {{ PC.orderResponse.success.date.dayOfWeek }}, {{ PC.orderResponse.success.date.month }} {{ PC.orderResponse.success.date.dayOfMonth }}, {{ PC.orderResponse.success.date.year }}</h5>
</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click=PC.redirect()>Close</button>
          
          
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>











