<link rel="stylesheet" type="text/css" href="/html/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  
 <h2 id ="productTitle">Browse Our Products</h2> 

<!-- Quick links -->

<div class="container col-md-2" id="quickLinks">
  <h3>Quick Links</h3>
  <ul class="nav nav-pills nav-stacked" id="links">
    <li class="active"><a href="#">Add Order</a></li>
    <li><a href="#">Beer</a></li>
    <li><a href="#">Wine</a></li>
    <li><a href="#">Liquor</a></li>
  </ul>
</div>


<!-- Search features -->

<form class="navbar-form"role="search" id="searchBar">
	<div class="input-group add-on col-md-3">
		<input class="form-control " placeholder="Search by keyword..."	name="srch-term" id="srch-term" type="text" ng-model="PC.keyword">
		<div class="input-group-btn">
			<button class="btn btn-default" type="button" id="search" ng-click = "PC.search()">
			<i class="glyphicon glyphicon-search"></i>
			</button>
		</div>
	</div>

 
 <label class="checkbox-inline" ng-repeat="type in PC.types">
  <input  type="checkbox" name="selectedTypes[]" value="{{ type }}" 
  ng-checked="PC.selection.indexOf(type)>-1"  ng-click="PC.toggleSelection(type)" checked> {{ type }}
</label> 
 
 

</form><br>


<!-- Product list -->
<!-- product.addToCart($event, product.id) -->



<div id="products" class="row list-group" ng-repeat="product in PC.searchResults">
	<div class="item">
	
		<div class="thumbnail">
			<img class="group list-group-image"	src="http://www.adweek.com/agencyspy/files/2011/10/budlight.png" align="left" alt="" />
			<div class="caption">
				<button id="add" type="button" ng-click="PC.addToCart(product)"><h3 class="group inner list-group-item-heading">{{product.coreProduct.name }}</h3></button>
				<p class="group inner list-group-item-text">{{ product.coreProduct.type }}</p>
				<p class="group inner list-group-item-text">{{ product.coreProduct.subType }}</p>
				<p class="group inner list-group-item-text">{{ product.baseUnit }}</p>
				<p class="group inner list-group-item-text">{{ product.quantity }}</p>
				<p class="group inner list-group-item-text">{{ product.coreProduct.description }}</p>
				<h4 class="group inner list-group-item-text">{{ product.price | currency}}</h4>
				</div>
				<div class="row"></div>
			</div>
		</div>
	</div>


<!--  Shopping cart -->
 <!-- ng-init="product.qty='1'" -->

<div class="cart" ng-show="PC.cart.length>0">
<div class="panel panel-primary">
    <div id="shoppingCart" class="panel-heading">
        <h3 class="panel-title">Shopping Cart</h3>
    </div>
    
    <div class="panel-body">    
    <ul style="list-style:none" id="shoppingCart">
		<li ng-repeat="product in PC.cart">
			<span>{{ product.coreProduct.name }}</span>
			<span>{{ product.price | currency }} x</span>
			<span><input type="number" min="1" max="10" ng-model="product.qty"></span>
			<span>{{ product.price * product.qty | currency }}</span>
		</li>
		<p>{{PC.qty}}</p>
 		<li>
		<form action="action_page.php">Choose a delivery date:
		<input type="date" name="deliveryDate" id="deliveryDate"></form>		
		</li> 
		<li>
		<span>Total: {{ PC.grandTotal() | currency }}</span>
		</li>
	</ul>
    </div>
</div>
 
<div class="text-center">
    <button type="button" class="btn btn-danger btn-lg" ng-click="PC.submitOrder()" data-toggle="modal" data-target="#myModal">Checkout 
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Order Receipt</h4>
        </div>
        <div class="modal-body">
          <p>{{ PC.cart }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ui-sref="customerOrders">Close</button>
          
          
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
















