/* index.html */

#title{
color: white; 
font-size: 62px; 
text-align: center; 
background-color: black; 
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serifs
}

.form-inline{
margin-left: 70%; 
padding-top: 7px
}


#loginPage{
	 background: url("https://static1.squarespace.com/static/5328b10be4b0702adacef32f/56340e79e4b09d923a5f44c7/56340e79e4b09d923a5f44d3/1446252186228/bigstock-Coffee-Shop-Blur-Background-Wi-86599157.jpg?format=2500w") no-repeat center center fixed

} 

body{overflow:scroll}


/*customer.html*/
#customerBody{background: url("/pictures/Beer-Glasses-Print-Theme.jpg") no-repeat right center fixed}


/*customer-product.html*/

#prodName{cursor: pointer}
#productTitle{margin-left:16.5%}
#shoppingCart li:nth-child(odd){background-color: #D7DBDD}
#shoppingCart li:nth-child(even) {background-color: #F2F4F4}
#quickLinks{float: left}
/* #add.active{background-color:#908585; -webkit-filter: grayscale(100%)} */

h5{
text-align:left;
margin-left:5%
}

#products{
margin-left:18%; 
width: 40%;
}

.cart{
display: block;
position:fixed;
top:25%;
left:70%;
z-index: 2000;
} 





