/* index.html */

#title{
color: white; 
font-size: 62px; 
text-align: center; 
background-color: black; 
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serifs
}

.form-inline{
margin-left: 70%; 
padding-top: 7px
}


/* body{
	background: url("https://static1.squarespace.com/static/5328b10be4b0702adacef32f/56340e79e4b09d923a5f44c7/56340e79e4b09d923a5f44d3/1446252186228/bigstock-Coffee-Shop-Blur-Background-Wi-86599157.jpg?format=2500w") no-repeat center center fixed
} */



/*customer-product.html*/

#products{margin-left:18%; width:50%}
h2{margin-left:20%}
#cart{margin-left:75%; width:15%; background-color:yellow}
#add {border:none; background:none}


.tooltip {
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}