/* index.html */

#title{
color: white; 
font-size: 62px; 
text-align: center; 
background-color: black; 
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serifs
}

.form-inline{
margin-left: 70%; 
padding-top: 7px
}


/* body{
	background: url("https://static1.squarespace.com/static/5328b10be4b0702adacef32f/56340e79e4b09d923a5f44c7/56340e79e4b09d923a5f44d3/1446252186228/bigstock-Coffee-Shop-Blur-Background-Wi-86599157.jpg?format=2500w") no-repeat center center fixed
} */



/*customer-product.html*/
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}